.space_world_admin {
  position: fixed;
  right: 1em;
  bottom: 1em;
  border: 1px solid black;
  border-radius: 8px;
  background: rgba(200,200,200,.5);
  padding: .5em;
  box-shadow: 0 0 50px #000;
}
.space_admin_scene_thinglist {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
}
.space_admin_scene_thinglist .space_admin_scene_thinglist {
  margin-left: .5em;
  padding-left: .1em;
  border-left: 1px dotted black;
  list-style-image: url(../../images/elation/blackdash.png);
}
.space_admin_scene_thinglist em {
  font-style: normal;
  font-size: .6em;
}
.space_admin_scene_thinglist li {
  background: rgba(200,200,200,.5);
}
.space_admin_scene_thinglist li.state_hover {
  background: #ffa;
}
.space_admin_scene_thinglist li.state_active {
  background: #afa;
}
.space_admin_scene_thinglist li.state_editing {
  background: #faa;
}
.space_admin_scene_thinglist li .space_admin_thing_edit {
  display: none;
  float: right;
  font-size: .8em;
}
.space_admin_scene_thinglist li:hover>.space_admin_thing_edit {
  display: block;
}
.space_admin_thing_editor {
  display: block;
  position: absolute;
  width: 20em;
  left: -22em;
  bottom: 0;
  border: 1px solid black;
  border-radius: 8px;
  background: rgba(255,180,180,.5);
  padding: .5em;
  box-shadow: 0 0 50px #000;
  z-index: 100;
}
