#spacecraft_dashboard {
  margin: 2em;
  padding: 2em;
  border: 1px solid black;
  font-family: sans-serif;
}
#spacecraft_dashboard ul {
  list-style: none;
}
#spacecraft_dashboard .spacecraft_sidebar {
  width: 20em;
  float: left;
}
#spacecraft_dashboard .spacecraft_main {
  margin-left: 21em;
}
#spacecraft_dashboard h2 {
  border-bottom: 1px solid black;
  padding-bottom: .2em;
  margin-bottom: .5em;
}
#spacecraft_dashboard .spacecraft_navigation {
  border: 1px solid black;
  padding: 1em;
}
#spacecraft_dashboard .spacecraft_main {
  border: 1px solid black;
  padding: 1em;
}

.spacecraft_things>ul.spacecraft_things_list {
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
  margin: 
}
.spacecraft_things ul.spacecraft_things_list li {
  border-top: 1px dotted black;
  border-left: 1px dotted black;
  padding-left: 1em;
}
.spacecraft_things ul.spacecraft_things_list li:last-child {
}
#spacecraft_world {
  width: 100%;
  height: 40em;
  border: 1px solid #666;
  background: #333;
  position: relative;
  overflow: hidden;
  visibility: hidden;

}
.spacecraft_thing {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  border: 2px solid black;
  position: absolute;
  text-align: center;
  color: #ccc;
  font-weight: bold;
  font-size: .8em;
}
.spacecraft_thing:hover {
  border: 2px solid green;
}
.spacecraft_thing img {
  width: 100%;
  height: 100%;
}
.spacecraft_thing_sector {
  /*
  width: 1024px;
  height: 768px;
  */
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
}
.spacecraft_thing_star {
  border: 2px solid yellow;
  background: yellow;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  -moz-border-radius: 200px;
}
.spacecraft_thing_planet {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  background: brown;
}
.spacecraft_thing_moon {
  border: 2px solid #999;
  width: 50px;
  height: 50px;
  background: #ccc;
  font-weight: normal;
}
.spacecraft_thing_station {
  border: 2px solid #f99;
  width: 50px;
  height: 50px;
  background: pink;
}
#spacecraft_dashboard .spacecraft_things h3 {
  font-size: 1.2em;
  margin: 0;
}
#spacecraft_dashboard .spacecraft_things h3 em {
  font-style: normal;
  font-size: .6em;
  font-weight: normal;
  
}
#spacecraft_dashboard .spacecraft_thing_properties {
  border: 1px solid black;
  padding: 0 1em;
}

.spacecraft_thing_propertygroup {
  border: 1px solid black;
  border-radius: 6px;
/*
  display: inline-block;
  max-width: 25em;
*/
  padding: .5em;
  vertical-align: top;
}
.spacecraft_thing_propertygroup h4 {
  margin-top: 0;
}
.spacecraft_thing_propertygroup label {
  display: inline-block;
  min-width: 12em;
}

#spacecraft_planet_render {
  width: 100%;
  height: 40em;
}
#spacecraft_debug {
  position: absolute;
  top: 0;
  right: 0;
}
.spacecraft_controls p {
  padding-right: 10em;
}

.spacecraft_thing_create label {
  min-width: 8em;
  display: inline-block;
}

