body {
  margin: 0;
  overflow: hidden;
}
.elation_space_viewport {
  position: relative;
  height: 50em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  overflow: hidden;
}
.space_viewport_3d {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.space_viewport_dom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.space\.thing {
/*
  background: pink;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: .5;
*/
  -xwebkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
